@model IEnumerable<Mohamed_Shafik_Mohamed_Shafik.Models.Projects>

@{
    ViewData["Title"] = "Projects";
}
<br />
<br />
<br />
<h1 style="margin:40px;">Projects</h1>
<form asp-action="Delete" style="margin:40px;">
    <p>
        <a asp-action="add_project" >Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="edit" asp-route-id=@item.Id><i class="fa fa-edit"></i></a>
               
                    <a asp-action="Delete" asp-route-id=@item.Id><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
</form>